      <div class="jumbotron">
        <h1>About this project...</h1>
        <p class="lead">A simple exercise using Ruby, Sinatra, JSON, Typhoeus, and the IMDB API.</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Typhoeus</h4>
          <p>Used to issue and receive HTTP requests and responses.</p>
          <h4>JSON</h4>
          <p>Used translate returned responses (hash strings) in to Ruby objects (hashes).</p>
        </div>
        <div class="col-lg-6">
          <h4>Sinatra</h4>
          <p>Used as the lightweight server.</p>

          <h4>IMDB API</h4>
          <p>The IMDB API provided the search method, and movie results.</p>
        </div>
      </div>