<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- uses Bootstrap template: Narrow Jumbotron Template for Bootstrap -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/jumbotron-narrow.css" rel="stylesheet">

    <!-- My styles changes for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">

	<title><%= @page_title %></title>
  </head>

  <body>

    <div class="container">
      <div class="header my_header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Search</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <h3 class="text-muted">IMDB Movie Search</h3>
      </div>
	
	  <%= yield %>

      <div class="footer">
        <p>&copy; GA WDI 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
