<h1><%= @page_header %></h1>
<% if @page_error %>
<div class='col-lg-6 error_msg'> No results returned. Check movie title and try again.</div>
<% else %>
<ul>
  <% @movie_list.each do |movie| %>
  	<li><a href='/poster/<%= movie.imdb_id %>'><%= movie.title %> - <%= movie.year %></a></li>
  <% end %>
</ul>
<% end %>
<br/>
<br/>
<a href="/">New Search</a>
<br/>
