.imdb_movie_poster {
  border-width: 25px;
  border-color: blue;
  border-radius: 10px;
}
.error_msg {
  color: red;
  height: 50px;
}

.my_header {
  background-color:  #34495e;  /* wet asphalt */
}

body {
  background-color: #95a5a6;   /* concrete */
}