/*body {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 600px;
  background: #232323;
  color: #ADAD85;
}
h1 {
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  font-size: 60px;
  color: #aaaaaa;
  margin: 60px 0 0 0;
}
h2 {
  text-align: center;
  color: #bbbbbb;
  margin: 5px 0 40px 0;
}
*/
table {
  border: 1px;
  padding: 10px;
}

.container {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px black;
}

.error_msg {
      color: red;
}